ALTER TABLE public.scm_po_lines ADD COLUMN IF NOT EXISTS tenant_id UUID REFERENCES public.tenants(id); CREATE INDEX IF NOT EXISTS idx_scm_po_lines_tenant_id ON public.scm_po_lines(tenant_id); ALTER TABLE public.scm_po_lines ENABLE ROW LEVEL SECURITY; DROP POLICY IF EXISTS \
Enable
all
access
for
tenant
users\ ON public.scm_po_lines; CREATE POLICY \Enable
all
access
for
tenant
users\ ON public.scm_po_lines FOR ALL USING (auth.uid() IN ( SELECT user_id FROM public.tenant_users WHERE tenant_id = scm_po_lines.tenant_id )); NOTIFY pgrst, 'reload config';
